body {
    margin: 0px 0px 0px 0px !important;
    /*background-image:url(./Images/LeaveManageMentBK.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
}

.TopHeader {
    /*background-color: #80c480 !important*/
}

.LogoText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

.TopHeader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    /*background-color: #acadac;*/
}

.DetailBox {
    content: box;
    color: white;
    border-style: solid;
    border-width: 2px;
}

.PageRedirect {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.PageRedirect:hover {
    cursor: pointer;
}