<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="LeaveManagement" value="Leave_Management"/>
    <add key="Admin" value="Admin"/>
  </appSettings>
  <connectionStrings>
    <add name="ConString" connectionString="Data Source=localhost;Initial Catalog=Leave_Management;Integrated Security=True;" />
    <!--<add name="ConString" connectionString="Data Source=DBZERO\DBZERO; InitalCatelog=Leave_Management; Integrated Security=True;"/>
    <add name="ConString1" connectionString="Data Source=DBZERO\DBZERO; InitalCatelog=Admin; Integrated Security=True;"/>-->
  </connectionStrings>
</configuration>